.u-section-1 .u-sheet-1 {
  min-height: 775px;
}

.u-section-1 .u-image-1 {
  min-height: 910px;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
  background-image: url("images/vegetables-set-left-black-slate.jpg");
  background-position: 100% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 360px;
  height: 436px;
  margin: 0 auto 0 81px;
}

.u-section-1 .u-text-1 {
  margin-bottom: 0;
  margin-top: 40px;
}

.u-section-1 .u-text-2 {
  margin: 21px 707px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 3.75rem;
  margin: 21px 617px 0 0;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 16px 46px 17px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    height: auto;
  }

  .u-section-1 .u-text-2 {
    margin-right: 507px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 417px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    background-position: 71.36% 50%;
  }

  .u-section-1 .u-text-2 {
    margin-right: 287px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 197px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 147px;
  }

  .u-section-1 .u-text-3 {
    font-size: 3rem;
    width: auto;
    margin-right: 126px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-2 {
    width: 320px;
    height: 387px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 775px;
}

.u-section-2 .u-image-1 {
  min-height: 665px;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
  background-image: url("images/fresh-salad-with-turkey-eggs-vegetables.jpg");
  background-position: 50% 100%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin-bottom: 0;
  margin-top: 247px;
  margin-left: 0;
}

.u-section-2 .u-text-2 {
  margin: 30px 615px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 21px 898px 0 0;
  padding: 16px 46px 17px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-image-1 {
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: 415px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 698px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-image-1 {
    background-position: 0% 100%;
  }

  .u-section-2 .u-text-2 {
    margin-right: 195px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 478px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 55px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 338px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-2 .u-image-1 {
    margin-bottom: 1px;
    background-position: 13% 100%;
    min-height: 596px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 50px;
  }

  .u-section-2 .u-btn-2 {
    margin-right: 138px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 775px;
}

.u-section-3 .u-image-1 {
  min-height: 656px;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
  background-image: url("images/juicy-steak-medium-rare-beef-with-spices-grilled-vegetables.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
}

.u-section-3 .u-text-2 {
  margin: 30px 679px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 30px auto 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 16px 46px 17px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    background-position: 50% 100%;
    height: auto;
  }

  .u-section-3 .u-text-2 {
    margin-right: 479px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-right: 259px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 119px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 775px;
}

.u-section-4 .u-image-1 {
  min-height: 656px;
  margin-top: 60px;
  margin-bottom: 60px;
  height: auto;
  background-image: url("images/dietary-menu-healthy-vegan-salad-vegetables-broccoli-mushrooms-spinach-quinoa-bowl-flat-lay-top-view.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
}

.u-section-4 .u-text-2 {
  margin: 30px 605px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 30px auto 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 16px 46px 17px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    background-position: 50% 100%;
    height: auto;
  }

  .u-section-4 .u-text-2 {
    margin-right: 405px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: 185px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 59px;
    margin-bottom: 20px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 38px;
  }
}